
/* Basic styling for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.158);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    height:90%;
    overflow-y: scroll;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.header{
    padding:10px 0px 15px 10px;
}

.headerId{
    color:#757575
}

/* Content styling */
.content {
    min-height: 200px;
    text-align: left;
    margin-bottom: 20px;
}

.printContent {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Print button container */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.buttonContainer button{
    min-width: 150px;
    height:30px;
    border: none;
    border-radius: 5px;
    background-color: #e3e3e3;
    font-weight: 600;
    cursor: pointer;
}

.buttonContainer button:hover{
    background-color: #ccc;
}

@media print {
    .overlay {
        position: static !important;
        background: none !important;
    }

    .modal {
        box-shadow: none !important;
        border: none !important;
    }

    .closeButton, .buttonContainer, .navBarSection {
        display: none !important; /* Hide navigation and buttons */
    }
}
