/* Container styles */
.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to top left, #404b4a, #7d7c7c); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('fitness_bg_3.webp');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #c7c7c7;
}

/* Left Panel styles */
.login-left-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo-image {
  width: 80%;
  height: 80%;
}

/* Right Panel styles */
.login-right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-left: 2px solid #ffffff;
}

.login-text {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Input and button styles */
.input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  background-color: #f08030;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.error-text {
  color: #f08030;
}
