.memberContent {
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
  
.memberFunction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px
}

.membersCount{
  font-weight: lighter;
  color:#787878;
}

.memberActions {
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.searchContainer {
  width: 300px;
  height: 30px;
  display: flex;
}

.searchInput {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-sizing: border-box;
}
  
.addMemberButton {
  font-family: "Roboto", sans-serif;
  padding: 8px 16px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
    
.addMemberButton:hover {
  background-color: #ff5733;
}
    
.memberTable {
  width: 100%;
  border-collapse: collapse;
}
    
.memberTable th,
.memberTable td {
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.memberTable td {
  vertical-align: middle;
}
  
th, td {
  padding: 5px;
}

td {
  padding: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle;
}
    
.memberTable th {
  background-color: #efefef;
  font-weight: bold;
}

.checkboxuserid {
  display: flex;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mprofileContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mprofileDetails {
  display: flex;
  flex-direction: column;
}

.mprofilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.mprofileName {
  font-weight: bold;
  font-size: 14px;
}

.mprofileEmail {
  font-size: 12px;
  color: #666;
}

.genderContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.genderLabel {
  white-space: nowrap;
  text-align: left;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.editButton:hover,
.deleteButton:hover {
  color: #ff5733;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.checkboxuserid input[type="checkbox"] {
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
  
.pagination button {
  padding: 5px 10px;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}
  
.pagination button.active {
  background-color: #ddd;
  font-weight: bold;
}
  
.pagination button:hover {
  background-color: #ff8c00;
}


  
  .memberTable tr {
    height: auto;
    min-height: 50px;
  }

  .memberTable th {
    height: 50px;
  }
  
  .modalOverlayDeleteM {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalDeleteM {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-height: 90%;
    text-align: center;
    position: relative;
    overflow-y: scroll;
  }

  .cancelButton {
    background: white;
    border: 1px solid #ff5733;
    color: #ff5733;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .nextButton {
    background: #ff5733;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modalButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .cancelDeleteButton {
    background: transparent;
    color: black;
    padding: 10px;
    border: 1px black solid;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
    transition:0.3s;
  }

  .cancelDeleteButton:hover{
    background-color: #d8d7d7;
  }
  
  .confirmDeleteButton {
    background: #ff7f50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 5px;
    transition:0.3s;
  }

  .confirmDeleteButton:hover{
    background-color: #ff5733;
  }

.deleteMemberButton {
  font-family: "Roboto", sans-serif;
  padding: 8px 16px;
  background-color: rgb(242, 69, 69);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.deleteMemberButton:hover {
  background-color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 90%;
  position: relative;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.closeBtn {
  background: red;
  color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.progressTabs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

.activeTab {
  color: #ff5733;
  border-bottom: 3px solid #ff5733;
}

.inactiveTab {
  color: #aaa;
  border-bottom: 3px solid #ddd;
}

.formGrid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightColumn {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.progress1 {
  justify-content: flex-start;
}

.progress2 {
  justify-content: flex-end;
}

.radioGroup {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.fitnessGoals {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.heightWeightContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputGroup input {
  width: 125px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.unit {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.addnmembershipDropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.fitnessGoalsOption {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.goalOption {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.goalOption input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.footerbutton {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 90%;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: scroll;
}

.deleteIcon{
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonSection{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.profileSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profilePicture{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.edith3text {
  margin-top: 20px;
  margin-bottom: 15px;
}

.edithr {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .memberHeader {
    flex-direction: column;
    text-align: center;
  }

  .searchContainer {
    width: 100%;
    max-width: 250px;
  }

  .addMemberButton,
  .deleteMemberButton {
    width: 100%;
    max-width: 250px;
  }

  .memberTable {
    display: block;
    overflow: auto;
    white-space: nowrap;
  }

  .formGrid {
    flex-direction: column;
  }

  .leftColumn, .rightColumn {
    width: 100%;
  }
}