.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
  
.pagination button {
    padding: 5px 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #ddd;
    font-weight: bold;
}
  
.pagination button:hover {
    background-color: #ff8c00;
}
